apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../upstream
- virtualservice.yaml
patchesJson6902:
- patch: |-
    - op: replace
      path: /spec/type
      value: ClusterIP
  target:
    kind: Service
    name: whereami
